[Unit]
Description=Camouflage server service
After=network.target

[Service]
ExecStart=/usr/bin/camouflage server -f /etc/camouflage/%i.toml
MemoryAccounting=true
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
