[Unit]
Description=Camouflage client service
After=network.target

[Service]
ExecStart=/usr/bin/camouflage -client /etc/camouflage/%i.conf
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
