[Unit]
Description=Camouflage server service
After=network.target

[Service]
ExecStart=/usr/bin/camouflage -server /etc/camouflage/%i.conf
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
