[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
req_extensions      = san
extensions          = san

[ req_distinguished_name ]
countryName         = CN
#stateOrProvinceName = MyProvince
#localityName        = MyCity
#organizationName    = MyOrganization

[SAN]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[ alt_names ]
# Your server ipv4
IP.1=127.0.0.1
# Your serve ipv6
IP.2=::1
